<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Spotmoji</string>
    <key>CFBundleExecutable</key>
    <string>Spotmoji</string>
    <key>CFBundleIdentifier</key>
    <string>com.omarshahine.Spotmoji</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Spotmoji</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CoreSpotlightContinuation</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUEnableAutomaticChecks</key>
    <false/>
    <key>SUFeedURL</key>
    <string>https://github.com/omarshahine/spotmoji/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>GXuaQ9IHuYP1B0jZK2ov1USNjcwqG0rKSNvTf2SqP5E=</string>
    <key>SUSendProfileInfo</key>
    <false/>
</dict>
</plist>
